<div align="center">

<h3> Higgs Boson</h3>

<p style="font-size:120%; width: 80%" align="justify"> 
The Higgs boson is an elementary particle in the 
Standard Model of particle physics, produced by the quantum excitation of the
Higgs field, one of the fields in particle physics theory. It is named after 
physicist Peter Higgs, who in 1964, along with five other scientists, proposed 
the mechanism which suggested the existence of such a particle. Its existence 
was confirmed in 2012 by the ATLAS and CMS collaborations based on collisions 
in the LHC at CERN.
On December 10, 2013, two of the physicists, Peter Higgs and François Englert, 
were awarded the Nobel Prize in Physics for their theoretical predictions. 
Although Higgs's name has come to be associated with this theory (the Higgs 
mechanism), several researchers between about 1960 and 1972 independently 
developed different parts of it.
In mainstream media the Higgs boson has often been called the "God particle", 
from a 1993 book on the topic, although the nickname is strongly disliked by 
many physicists, including Higgs himself, who regard it as sensationalism.</p>
<!--<img src='https://i.pinimg.com/originals/b4/b8/ca/b4b8caf5461c6bc0873167596bd319ec.jpg', style="width: 60%">-->
<div>
<%= image_tag('ny.jpg', width: 700) %>
</div>
<p></p>
<%= link_to 'Home', root_path %>
</div>